<div style="height:100px"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3><strong>Login</strong></h3>
				</div>
				<div class="panel-body" ng-controller="LoginController as loginCtrl">
					<form name="loginForm">
						<div class="form-group">
							<!-- <label for="userEmail">Username / email:</label> -->
							<input type="text" class="form-control" placeholder="Enter email address" ng-model="loginCtrl.loginForm.userName">
						</div>
						<div class="form-group">
							<!--                     <label for="userPassword">Password:</label> -->
							<input type="password" class="form-control" placeholder="Enter password" ng-model="loginCtrl.loginForm.userPassword">
						</div>
						<!--<br />
						<p class='text-center'>
							<a ui-sref="userPasswordReset">
								<strong>I forgot my password</strong>
							</a>
						</p>
						<p class='text-center'>
							<a ui-sref="userRegister"><strong>Create new account</strong></a>
						</p>-->
					</form>
					<button type="button" class="btn btn-primary btn-block" ng-click="loginCtrl.login()">
                   Login
                	</button>
					<br>
					<div ng-if="loginCtrl.error" class="alert alert-danger">
						{{loginCtrl.error}}
					</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>