<div id="wrapper">
	<sidebar></sidebar>
	<div id="page-wrapper" >
		<div ng-controller="AttendController as $ctrl">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Attendance</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!--<button type="button" class="btn btn-primary" ng-click="$ctrl.showDistrictAttendance()">Create Attendance</button>-->
			<div>
				<form method="post">
					<br>
					<div ng-if="$ctrl.showAttendlist">
						<div class="row">
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Name</span>
									<input type="text" class="form-control" placeholder="Search by Name" aria-describedby="basic-addon1" ng-model="queryString">
								</div>
							</div>
						</div>
						<div class="row" >
							<div id="header-fixed" class="table table-bordered table-striped"></div>
							<table class="table table-bordered table-striped" id="attendTable" style="width:100%">
								<thead >
									<tr>
										<th style="width:9%">#</th>
										<th style="width:13%">
											<span ng-click="sortType = 'name'; sortReverse= !sortReverse">Name(姓名)
											<span ng-show="sortType='name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
											<span ng-show="sortType='name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
											</span>
										</th>
										<th style="width:13%">Lords Table(主日)</th>
										<th style="width:13%">Morning Revival(晨兴)</th>
										<th style="width:13%">Prayer Meeting (祷告聚会)</th>
										<th style="width:13%">Bible Reading(读经)</th>
										<th style="width:13%">Small Group Meeting(小排)</th>
										<th style="width:13%">Remarks</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="member in $ctrl.members |filter:queryString | orderBy:sortType:sortReverse">
										<td>{{$index}}</td>
										<td>
											{{ member.Name }}
										</td>
										<td>
											<input type="checkbox" ng-model="member.attend.Lords_Table" ng-disabled="member.isReadOnly">
										</td>
										<td>
											<input type="checkbox" ng-model="member.attend.Morning_Revival" ng-disabled="member.isReadOnly">
										</td>
										<td>
											<input type="checkbox" ng-model="member.attend.Prayer_Meeting" ng-disabled="member.isReadOnly">
										</td>
										<td>
											<input type="checkbox" ng-model="member.attend.Bible_Reading" ng-disabled="member.isReadOnly">
										</td>
										<td>
											<input type="checkbox" ng-model="member.attend.Small_Group" ng-disabled="member.isReadOnly">
										</td>
										<td>
											<button type="button" class="btn btn-primary" ng-click="$ctrl.confirmAttend(member)" ng-if="!member.isSubmit"> Confirm </button>
											<div ng-if="member.isSubmit">
												<button type="button" class="btn btn-primary" ng-click="member.isReadOnly = false" ng-if="member.isReadOnly">Edit </button>
												<button type="button" class="btn btn-primary" ng-click="$ctrl.confirmAttend(member)" ng-if="!member.isReadOnly ">Update </button>
											</div>
										</td>
									</tr>
								</tbody>
								<tr>
									<td colspan="8">
										<div class="input-group">
											<span class="input-group-addon" id="basic-addon1">Children</span>
											<input type="text" class="form-control" placeholder="Children Number" ng-model="$ctrl.Children" aria-describedby="basic-addon1">
										</div>
									</td>
								</tr>
							</table>

						</div>
						<button type="button" class="btn btn-primary">Confirm All</button>
						<button type="button" class="btn btn-primary" ng-click="$ctrl.showStatistic()">Show Static</button>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="assets/js/fixhead.js"></script>